/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";


header {
    background-color: aquamarine;
    display:flex;
}

img {
    display: inline;
}

.flex {
    height: 12.5em;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    justify-content: space-between;
    flex-grow: 1;
}

.separacion {
    flex-grow: 4;
}